<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Music Management System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<nav th:replace="~{fragments/header :: header}">

</nav>
<div class="container">

  <hr/>

  <h3>Change User Role</h3>
  <hr/>

  <form th:action="@{/users/save}" th:object="${user}" method="POST">
    <p>
      <input type="checkbox" name="roles" th:each="role : ${roles}" th:text="${role}" th:value="${role}" th:checked="${user.roles.contains(role)} " />
    </p>
    <button type="submit" class="btn btn-primary col-2">Save</button>

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{email}"/>

  </form>
  <hr/>
  <a th:href="@{/users/list}">Back to list</a>
</div>

</body>
</html>